body {
  font-family: "Poppins", sans-serif !important;
  background-color: #070b0d !important;
  color: #f8f9fa !important;
}
a {
  text-decoration: none !important;
  color: #06d6a0 !important;
}
a:focus {
  color: #06d6a0 !important;
}
li {
  list-style-type: none;
  font-size: 14px;
  font-weight: 300;
}
.disabled {
  pointer-events: none;
}
.btn-location {
  padding: 16px !important;
  margin-left: -10px !important;
  display: block;
}
.box {
  background-color: #151a1e;
  padding: 20px !important;
  border-radius: 20px;
}
.input-group-text {
  background-color: #06d6a0 !important;
  border: 1px solid #06d6a0 !important;
}
.input-group-text:hover {
  background-color: #06d6a0 !important;
}
.form-control,
.form-control:focus {
  color: #f8f9fa !important;
  background-color: #1c2126 !important;
  border-color: #06d6a0 !important;
  box-shadow: none !important;
}
.btn-outline-primary {
  border: 1px solid #06d6a0 !important;
  color: #06d6a0 !important;
}
.btn-outline-primary:hover {
  background-color: #06d6a0 !important;
  color: #212529 !important;
}
.btn-primary {
  background-color: #06d6a0 !important;
  color: #212529 !important;
  border-color: #06d6a0 !important;
}
.daypic {
  display: inline;
  margin-bottom: 30px;
}
.temp {
  font-size: 50px;
  font-weight: 800;
  line-height: 1;
}
.icon-temp {
  font-size: 50px;
}
.weather-units {
  position: relative;
  top: -24px;
}
.opensource {
  display: inline;
  font-size: 13px;
  text-align: center;
}
.Weather-forcast {
  background-color: #1c2126;
  border-radius: 15px;
  margin: 8px;
}
